:root {
  font-family: Poppins, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1em;

  /* color-scheme: light dark; */
  color: #475569;
  background-color: #f7fcf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.logo {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  /* padding-inline: 10rem; */
  min-width: 320px;
  
  
}

header {
  width: 100%;
  height: auto;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 100%;
  height: auto;
  max-width: 80rem;
  justify-self: center;
  /* padding: 2rem; */
}

footer {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  padding-bottom: 3rem;
}

h1 {
  font-size: 1.7em;
  line-height: 1.1;
  color: #0f172a;
}

h2 {
  color: #0f172a;
}

p {
  font-size: 1rem;
}

span {
  font-size: 1.9rem;
  line-height: 2.25;
  color: #0f172a;
}

#beginning {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb8c;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 7px 4px rgb(0 0 0 / 0.1);
  padding: 1rem;
}

.person_add {
  display: inherit;
}

.person_add_svg {
  padding: 1rem;
  aspect-ratio: 1/1;
}

.pSpace {
  margin: 0;
  padding-left: 2rem;
}

strong {
  color: #000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #65c178;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #0f172a;
}
button:hover {
  border-color: #fff;
}

button:focus
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttonForm {
  display: block;
  width: auto;
  margin: 0 auto;
  margin-top: 2rem;

}

label {
  margin: 1rem;
}

.slogan{
  margin: 0;
}

#personListStyle {
  padding: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: #e5e7eb8c;
  border-width: 1px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 7px 4px rgb(0 0 0 / 0.1);
  margin-top: 5rem;
}

form {
  background-color: #f7fcf8;
  padding: 0.5rem;
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
}
#age {
  width: 35px;
  text-align: center;
}

@media(max-width: 570px) {
  body {
    margin: 0;
    padding: 0;
    padding-inline: 0;
    justify-self: center;
    box-sizing: border-box   
  }
  header {
    padding-top: 0;
  } 
  main {
    padding-inline: 0;
    width: 80%;
  }
  .pSpace {
    padding: 0;
  }
  form {
    flex-wrap: wrap;
    flex-direction: column;
  }
  span {
    font-size: 1.9rem;
  }
  

  #containerTarifas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #cardPremium {
    grid-row-start: 2;
  }
  #cardEsencial {
    grid-row-start: 3;
  }

}

.headerSection {
  display: flex;
}

#group_svg {
  padding: 1rem;
}


#info {
  width: 100%;
  justify-self: center;
  overflow-x: auto;
}

#tablePeople {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  /* margin-top: 4vh; */
  
}

/* #tablePeople th, */
#tablePeople td {
  white-space: normal;
  overflow-wrap: anywhere;
}

thead {
  background-color: #65c178;
  color: white;
  font-size: 1.2em;
}

th {
  font-size: .8em;
  padding: .5rem;
  text-align: center;
  border-bottom: 2px solid #65c178;
}

td { 
  font-size: .8em;
  padding: .5rem 1rem;
  border-bottom: 1px solid #ddd;
}

tbody {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f7fcf8;
}

tbody tr:hover {
  background-color: #d2eedb;
  cursor: pointer;
}

td button {
  padding: 5px 10px;
  background-color: #ff000079;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

td button:hover{
  background-color: #ff0000;
}

#tarifas {
  padding: 2rem;
}

#headerTarifas {
  justify-items: center;
}

#containerTarifas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  gap: 3rem;
}

.cardOptimo, .cardPremium, .cardEsencial {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1;
  border-color: #d3d3d3;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 7px 4px rgb(0 0 0 / 0.1);
  padding-block: 1rem;
}

#h2Optimo, #h2Premium, #h2Esencial {
  /* margin: 0;
  padding: 0.5rem; */
  justify-self: center;
}

#pOptimo, #pPremium, #pEsencial {
  /* margin: 0;
  padding-inline: 0.5rem; */
  justify-self: center;

}

ul {
  padding-inline-start: 0;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 1rem;
  gap: 0.3rem;
}


.check_marck {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-style: solid;
  border-color: #65c178;
  border-width: 2px;
  background-image: url("./check_green.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (hover: hover) {
  .cardOptimo:hover,
  .cardPremium:hover,
  .cardEsencial:hover {
    border-color: #398E37;
  }
  .cardOptimo:hover .check_marck,
  .cardPremium:hover .check_marck,
  .cardEsencial:hover .check_marck {
    border-radius: 50%;
    border-color: #398E37;
    background-color: #398E37;
    background-image: url("./check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
  .cardOptimo:hover .btnPlan,
  .cardPremium:hover .btnPlan,
  .cardEsencial:hover .btnPlan {
    background-color: #398E37;
    color: #0f172a;
  }
}



.btnPlan {
  color: #f7fcf8;
}



.cardSelected {
  border-color: #398E37;
}

.checkSelected {
  background-color: #398E37;
  background-image: url('./check.svg');
  border-color: #398E37;
}

.btnSelected {
  color: #0f172a;
  background-color: #398E37;
}